header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: background 0.3s ease, padding 0.3s ease;
    z-index: 1000;
}


header .navbar{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;

}

.navbar .logo{
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 2.1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar .logo span{
    color: #C06B3E;
}

.navbar .menu-links{
    display: flex;
    gap: 40px;
    list-style: none;
}

.navbar a{
    color: #fff; 
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar a:hover{
    color: #C06B3E;
}


header.scrolled {
    background: #fff; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    padding: 10px 20px; 
}


header.scrolled .navbar .logo {
    color: #000;
}


header.scrolled .navbar .logo span {
    color: #C06B3E; 
}

header.scrolled .navbar .menu-links a {
    color: #000;
}

header.scrolled .navbar a:hover{
   color: #C06B3E;
}

header.scrolled #menu-btn {
    color: #000;
}

#menu-btn {
    color:#fff;
    cursor: pointer;
    display: none;
}

#close-menu-btn {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    
}

@media screen and (max-width: 900px) {
    header {
        padding: 10px 20px;
    }

    header.show-mobile-menu::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }

    #close-menu-btn, #menu-btn {
        display: block; 
    }

    .navbar .menu-links {
        position: fixed;
        left: -260px;
        top: 0;
        flex-direction: column;
        width: 260px;
        height: 100vh;
        background: #fff;
        padding: 70px 40px 0;
        transition: left 0.15s ease;
        z-index: 1001;
    }

    header.show-mobile-menu .navbar .menu-links {
        left: 0;
    }

    .navbar a {
        color: #000; 
    }
}